@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #333333;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #d2d4dc;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
